body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align:center;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3498db;
    color: white;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2;
}

footer {
    background-color: #333;
    color: white;
    padding:0;
    position:absolute;
    bottom: 0;
    width: 100%;
}

main {
    padding: 50px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
    gap: 20px;
}

.gallery img {
    height:auto;
    width:auto;
    border: 5px solid #ddd;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    font-size: 1.1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
}